<form action='/links' method='post'>
  <label>Enter your title</label>
  <input type='text' id='title' name='title'>
  <label>Enter your url</label>
  <input type='text' id='url' name='url'>

  <button type='submit'>Save</button>
  
</form>
